:not(:defined) > * {
    display: none;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: #134B2C;
    display: flex;
}

header {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    padding-top: 60px;
}

header::before {
    content: url('../images/background-top-left.png'); 
    position: absolute;
    left:0;
    top:0;
}

header::after {
    content: url('../images/background-top-right.png'); 
    position: absolute;
    right:0;
    top:0;
}

header .logo {
    object-fit: contain;
    width: 100%;
    height: auto;
    margin: auto;
}

.wrapper .content-wrapper {
    position: absolute;
    width: 100%;
    height: calc(100% - 160px);
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-top: 160px;
    overflow: auto;
}

.wrapper .content-wrapper .menu-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    overflow: auto;
    z-index: 9999;
}

.menu-list .menu-item {
    width: auto;
    height: 120px;
}

.menu-list .menu-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

footer::before {
    content: url('../images/background-bottom-left.png'); 
    position: absolute;
    left: 0;
    bottom: 0;
}

footer::after {
    content: url('../images/background-bottom-right.png'); 
    position: absolute;
    right: 0;
    bottom: 0;
}

@media only screen and (min-device-width: 768px) {
    .wrapper .content-wrapper {
        align-items: center;
        justify-content: center;
    }

    .wrapper .content-wrapper .menu-list {
        width: 70%;
    }
}