:not(:defined) > * {
  display: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

model-viewer {
  width: 100%;
  height: 100%;
  background: rgb(255,255,255);
  background: url('../images/forest-background-transparent.png'), linear-gradient(180deg, rgba(249,255,245,1) 30%, rgba(52,78,65,1) 50%, rgba(20,37,22,1) 90%);
  background-repeat:repeat-x;
  background-position-y:20%;
  /* border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px; */
}

.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

#ar-button {
  width: calc(50% - 30px);
  display: flex;
  justify-content: center;
  background-image: url('../images/icon-markerless.png');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 25% 50%;
  background-color: #31C4C4;
  position: absolute;
  /* left: 20px; */
  left: 50%;
  margin: auto;
  transform: translateX(-50%);
  white-space: nowrap;
  /* bottom: 20px; */
  bottom: 10px;
  padding: 0px 10px 0px 30px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: 500;
  color:#101010;
  line-height: 28px;
  border-radius: 12px;
  border: 0px solid #DADCE0;
  z-index: 9999;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
  to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
}

@keyframes elongate {
  from { transform: translateX(100px); }
  to   { transform: translateX(-100px); }
}

model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status="session-started"] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}

.c-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  bottom: 0;
  background-color: rgba(233, 230, 228,1);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.c-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 10px 20px;
  padding-top: 30px;
}

.c-wrapper .c-button-wrapper .button {
  align-items: center;
  justify-content: center; 
  border: 0; 
  font-weight: 500; 
  font-size: 12px;
  text-decoration: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button img {
  height: 20px;
}

.button.markerless {
  background-color: #31C4C4;
  color: #1E1E1E;
}

.button.markerbase {
  width: calc(50% - 30px);
  display: none;
  border-radius: 12px;
  padding: 5px 16px; 
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(1px);
  color: #111;
}

.button.markerbase:hover {
  background-color: rgba(255, 255, 255, 1);
}

.button.panoramic {
  display: none;
  border-radius: 50px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(1px);
  color: #111;
}

.button.panoramic:hover {
  background-color: rgba(255, 255, 255, 1);
}

.button-back {
  position: absolute;
  text-decoration: none;
  background-color: #E8E6E4;
  backdrop-filter: blur(1px);
  color: #111111;
  font-size: 20px;
  right: 0;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 50px;
  z-index: 99;
}

.c-wrapper-content {
  /* background-color: rgba(233, 230, 228,1); */
  /* border-radius: 50% 50% 0 0/20% 20% 0 0; */
  padding: 10px 0 0 0;
}

.collapsible-button {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-wrapper-content .c-menu-wrapper {
  max-width: 100%;
  height: 100%;
  padding: 20px;
  display: none;
}

.c-menu-wrapper .menu-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.c-menu-wrapper .menu-info div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.c-menu-wrapper ul {
  height: 100%;
  padding: 15px 0 10px 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  max-height: 100%;
  margin: 0;
  flex-wrap: nowrap;
  overflow: auto;
}

.c-menu-wrapper ul::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.c-menu-wrapper ul li a {
  width: 70px;
  height: 70px;
  background-color: rgba(34, 49, 29, 1);
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 8px;
  color: #fafafa;
  text-decoration: none;
  font-size: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.c-menu-wrapper ul li a:hover, .c-menu-wrapper ul li a:hover {
  /* -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; */
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
  -moz-box-shadow:    0px 0px 30px 0px rgba(0, 255, 0, 0.67);
  box-shadow:         0px 0px 30px 0px rgba(0, 255, 0, 0.67);
}

.c-menu-wrapper ul li a.disabled {
  filter: opacity(0.7);
  cursor: not-allowed;
  pointer-events: none;
}

.c-menu-wrapper ul li a img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.menu-title {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  /* padding: 0 20px; */
}

@media only screen and (min-device-width: 768px) {
  #ar-button {
    width: 150px !important;
  }
}

@media only screen and (min-device-width: 1024px) {
  .c-wrapper {
    width: 30%;
    margin: 0 30px;
    right: 0;
  }

  .c-button-wrapper {
    padding-top: 0;
  }
}

